<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/course.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <title>Course Page</title>
  </head>
  <body>
    <header>
    <%- include('./partials/header') %>
    </header>
    <img class="pic" src="/img/chalkboard-logos_white.png" alt="logo">
    <h1><%= data.coursename %></h1>
    </p>
    <main>
      <% if (data.assignments && data.assignments.length != 0) { %> 
        <nav id="assignmentlist">
          <h2>Assignments</h2>
          <ul id="assignments">
            <% assignmentdata.forEach((assignment) => { %>
              <% var urlplus = url + "/assignment/" + assignment.id; %>
              <li><a href= <%=urlplus%> > 
              <%= assignment.assignmentname %>
              </a></li>
            <% }) %>
          </ul>
        </nav>
      <% } %>
      <p class="coursedesc">
        <%= data.coursedesc %>
      </p>
    </main>
    <form action="/course/<%= data.id %>" method="POST">
      <input type="submit" name=<%= data.id %> value="Enroll" type="button" id="enrollbttn">
    </form>
  </body>
</html>
